*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(146, 165, 181);
    font-family: sans-serif;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h2{
    margin: 0rem;
}

.gameboard{
    display: grid;
    grid-template-columns: 120px 120px 120px;
}
.cell {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 80px;
    height: 120px;
    cursor: pointer;
}

.b-t{
border-top: none;
}
.b-L{
border-left: none;
}
.b-r{
border-right: none;
}
.b-b{
border-bottom: none;
}

.players{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    font-weight: 600;
}

.play{
    margin-inline: 2rem;
    font-size: 25px;
    
}
.play::first-letter{
    text-transform: uppercase;
    
}

#btn{
    width: 6rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: aquamarine;
    font-size: larger;
    font-weight: 600;
    margin-top: -1rem;
    margin-left: 2rem;
}

.diasble{
    background-color: rgb(87, 91, 95);
}

.playerturn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0rem;
    margin-left: 5rem;
   
   
}
.playerturn span{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: -1rem;
    width: 14rem;
    height: 2rem;
    margin-left: -5rem;
   
    font-size: 40px;
    font-weight: 600;
}
.countdown {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 142px;
    width: 138px;
}


.countdown  svg{
    position: relative;
    width: 145px;
    height: 138px;
    transform: rotate(270deg);
}
.countdown .cir{
    stroke: rgb(12, 10, 10);
    fill: none;
    stroke-width: 8px;
    
   
    
}
.countdown #progress{
    fill: none;
    stroke: rgb(227, 7, 7);
   stroke-width: 8px;
   /* stroke-dasharray: 190;
   stroke-dashoffset: 50; */

}

.countdown p {
 
   position: absolute;
    font-size: x-large;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
  
}

.winnerlabel{
    position: absolute;
    width: 22rem;
    height: 3rem;
    background-color: #0d0e0c;
    text-align: center;
    margin-top: -3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(10, 172, 40);
    font-size: larger;
    
}

.display-none{
    display: none;
}


@media (max-width:455px){
    body{
        background-color: red;
    }
    .play{
        margin-inline: 2rem;
        font-size: 20px;
        
    }
    .container h2{
        margin-top: 1rem;
    }
    .players{
        
        margin: 1rem;
        
    }
    #btn{
        
        margin-top: -2rem;
      
    }
    .playerturn{
        
        margin-top: -1rem;
         
       
    }
}

@media (max-width:360px){
    body{
        background-color: powderblue;
    }
    
    .playerturn span{
       
        margin-left: -4rem;
       
        font-size: 35px;
      
    }
    .countdown {
       margin-left: -3rem;
    }
    .gameboard{
        display: grid;
        grid-template-columns: 100px 100px 100px;
    }
}